:root {
	--gap: 1rem;
	--font-size: 1rem;
	--icon-size: 1.5rem;
}
.row {
	background: #fff;
}
#back {
	padding: 10px;
}
#filesCatalog * {
	transition: 200ms;
	color: #f0f0f0;
	font-size: var(--font-size);
}
#filesCatalog p {
	margin: 0;
	padding: 0;
}
#filesCatalog {
	display: flex;
	justify-content: start;
	align-items: start;
	flex-flow: column nowrap;
	gap: calc(var(--gap) + 10px);
	padding: var(--gap);
	min-height: 400px;
	border: 1px solid grey;
	border-radius: 5px;
	background: #393939;
}

#folders {
	flex-flow: row wrap;
	padding: calc(var(--gap) - 5px) calc(var(--gap) + 5px);
	display: flex;
	min-height: 34px;
	border: 1px solid grey;
	border-radius: 5px;
}
#files {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

#folders,
#files {
	gap: calc(var(--gap)) calc(var(--gap) + 10px);
}

.folder,
.file__link {
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	align-items: center;
	width: fit-content;
	gap: calc(var(--gap) - 10px);
	cursor: pointer;
	min-width: 150px;
}

.folder__img,
.file__img {
	width: var(--icon-size);
	object-fit: contain;
}

#back__button {
	font-size: 30px;
	padding: 0;
	margin: 0;
	margin-bottom: -5px;
	background: none;
	border: none;
	color: #808080;
	cursor: pointer;
}

#back__button:hover {
	transform: rotateZ(-15deg) scale(1.1);
}

#back__button:focus {
	outline: none;
}
