* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: grey;
}
ol,
li {
  list-style-type: none;
}

.box {
  margin: 100px;
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
}
